[submodule "athena-fonts"]
	path = athena-fonts
	url = git@github.com:nodezeroat/athena-fonts.git
[submodule "typst-athena-slides-template"]
	path = typst-athena-slides-template
	url = git@github.com:nodezeroat/typst-athena-slides-template.git
